<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0
          https://maven.apache.org/xsd/settings-1.2.0.xsd">

    <localRepository>${user.home}/.m2/repository</localRepository>

    <offline>false</offline>

    <pluginGroups>
        <pluginGroup>io.spring.javaformat</pluginGroup>
    </pluginGroups>

    <proxies></proxies>

    <servers>
        <server>
            <id>maven-releases</id>
            <username>admin</username>
            <password>admin321</password>
        </server>
        <server>
            <id>maven-snapshots</id>
            <username>admin</username>
            <password>admin321</password>
        </server>
    </servers>

    <mirrors>

        <mirror>
            <id>public</id>
            <mirrorOf>releases,snapshots,central</mirrorOf>
            <name>自建镜像仓库</name>
            <url>https://maven.dayang.com:8443/repository/maven-public/</url>
        </mirror>

        <!-- <mirror>
            <id>aliyunmaven</id>
            <mirrorOf>central,jcenter</mirrorOf>
            <name>阿里云公共仓库</name>
            <url>https://maven.aliyun.com/repository/public</url>
        </mirror> -->

    </mirrors>

    <!-- <profiles>
        <profile>
            <id>jdk-8</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
                <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
                <maven.compiler.source>8</maven.compiler.source>
                <maven.compiler.target>8</maven.compiler.target>
                <downloadSources>true</downloadSources>
                <downloadJavadocs>true</downloadJavadocs>
                <altReleaseDeploymentRepository>
                    maven-releases::https://maven.dayang.com:8443/repository/maven-releases/
                </altReleaseDeploymentRepository>
            </properties>

        </profile>
    </profiles> -->


</settings>
