<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.user.mapper.UserMapper">

	<resultMap id="BaseResultMap" type="user">
		<id property="id" column="id" jdbcType="OTHER"/>
		<result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
		<result property="userAccount" column="user_account" jdbcType="VARCHAR"/>
		<result property="userPassword" column="user_password" jdbcType="VARCHAR"/>
		<result property="gender" column="gender" jdbcType="SMALLINT"/>
		<result property="age" column="age" jdbcType="INTEGER"/>
		<result property="phone" column="phone" jdbcType="VARCHAR"/>
		<result property="email" column="email" jdbcType="VARCHAR"/>
		<result property="adminFlag" column="admin_flag" jdbcType="SMALLINT"/>
		<result property="restaurant" column="restaurant" jdbcType="VARCHAR"/>
		<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
		<result property="deleteFlag" column="delete_flag" jdbcType="BOOLEAN"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,nick_name,user_account,
		user_password,gender,age,
        phone,email,admin_flag,restaurant,
        create_time,update_time,delete_flag
	</sql>

	<sql id="insertkey">
		<trim suffixOverrides=",">
			<if test="nick_name != null and nick_name != ''">nick_name,</if>
			<if test="user_account != null and user_account != ''">user_account,</if>
			<if test="user_passwd != null and user_passwd != ''">user_passwd,</if>
			<if test="gender != null and gender != ''">gender,</if>
			<if test="age != null and age != ''">age,</if>
			<if test="phone != null and phone != ''">phone,</if>
			<if test="email != null and email != ''">email,</if>
			<if test="admin_flag != null and admin_flag != ''">admin_flag,</if>
			<if test="restaurant != null and restaurant != ''">restaurant,</if>
		</trim>
	</sql>

	<sql id="insertvalue">
		<trim suffixOverrides=",">
			<if test="nickName != null and nickName != ''">#{nickName},</if>
			<if test="userAccount != null and userAccount != ''">#{userAccount},</if>
			<if test="userPassword != null and userPassword != ''">#{userPassword},</if>
			<if test="gender != null and gender != ''">#{gender},</if>
			<if test="age != null and age != ''">#{age},</if>
			<if test="phone != null and phone != ''">#{phone},</if>
			<if test="email != null and email != ''">#{email},</if>
			<if test="adminFlag != null and adminFlag != ''">#{adminFlag},</if>
			<if test="restaurant != null and restaurant != ''">#{restaurant},</if>
		</trim>
	</sql>

	<!-- 主键自增回填 -->
	<insert id="insert" parameterType="user" useGeneratedKeys="true" keyProperty="id">
		insert into fish_id_user(id, nick_name, user_account, user_password, gender, age, phone, email, admin_flag, restaurant,
						   update_time)
		values (default, #{nickName}, #{userAccount}, #{userPassword}, #{gender}, #{age}, #{phone}, #{email}, #{adminFlag},
				#{restaurant}, #{updateTime})
	</insert>

	<insert id="insertIf" parameterType="user">
		insert into fish_id_user(<include refid="insertkey"></include>)
		values (<include refid="insertvalue"></include>)
	</insert>

	<insert id="insertBatchSomeColumn" parameterType="list">
        insert into fish_id_user(id, nick_name, user_account, user_pwd, gender, age, phone, email)
        values
        <foreach collection="list" item="item" separator=",">
            (default,
            #{item.nickName},
            #{item.userAccount},
            #{item.userPwd},
            #{item.gender},
            #{item.age},
            #{item.phone},
            #{item.email})
        </foreach>

    </insert>

	<update id="updateById" parameterType="user">
		update fish_id_user
		<set>
			<if test="nickName != null and nickName != ''">
				 nick_name = #{nickName},
			</if>
			<if test="userAccount != null and userAccount != ''">
				user_account = #{userAccount},
			</if>
			<if test="userPassword != null and userPassword != ''">
				pwd = #{userPassword},
			</if>
			<if test="gender != null and gender != ''">
				gender = #{gender},
			</if>
			<if test="age != null and age != ''">
				age = #{age},
			</if>
			<if test="phone != null and phone != ''">
				phone = #{phone},
			</if>
			<if test="email != null and email != ''">
				email = #{email},
			</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete">

	</delete>

	<delete id="deleteById">
		update fish_id_user
		set delete_flag = true
		where id = #{id}
	</delete>

	<delete id="deleteByMap"></delete>

	<select id="selectById" resultType="user">
		select
		<include refid="Base_Column_List"/>
		from fish_id_user
		where id = #{id} and delete_flag = false
	</select>

	<select id="selectOne" parameterType="user" resultType="user">
		select
		<include refid="Base_Column_List"/>
		from fish_id_user
		<where>
			<if test="nickName != null and nickName != ''">
				and nick_name = #{nickName}
			</if>
			<if test="userAccount != null and userAccount != ''">
				and user_account = #{userAccount}
			</if>
			<if test="userPassword != null and userPassword != ''">
				and user_password = #{userPassword}
			</if>
		</where>
	</select>

	<select id="selectBatchIds" resultType="user"></select>

	<select id="selectByIds" resultType="user">
		select
		<include refid="Base_Column_List"/>
		from fish_id_user
		where id in
		<foreach item="id" index="" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>

</mapper>
