# vim /etc/systemd/system/chfs.service
# systemctl daemon-reload
# systemctl start chfs.service
# systemctl enable chfs.service

[Unit]
Description=File Share Server
Documentation=http://iscute.cn/chfs
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/chfs -file=/usr/local/bin/chfs.ini
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=5
PrivateTmp=false

LimitNOFILE=1048796

[Install]
WantedBy=multi-user.target
